mixin slider(cards)
    //- link style
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.css")
    
    .componentRecommendations
        .keen-slider#my-keen-slider
            each card in cards
                .keen-slider__slide.number-slide
                    a.card(href=card.link, rel="noopener noreferrer")
                        .boxImg
                            img(src=card.img, alt=card.alt)

    //- script
    script(src="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.js") 