include components/imports
include templates/imports

doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Estrutura Dafiti
        link(rel="stylesheet" href="styles/main.css")
        link(rel="stylesheet", href="external/style.css")
    
    body
        .dafitiStructure
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
            
            section.sec1
                .limited
                    .flexImg
                        img(src="https://dafitistatic.dafiti.com.br/cms/black-dafiti/2024_10_08_14_55_08_03.gif", alt="")
                    h1 Dafiti Prime Tá On!
                    p Dafiti Prime é a sua chance de aproveitar ofertas imperdíveis durante a Semana do Consumidor. Este evento especial oferece descontos exclusivos e benefícios únicos para renovar seu guarda-roupa com estilo e economia.
                    p Não perca as ofertas especiais durante o Dafiti Prime! Garanta roupas, calçados e acessórios das melhores marcas por preços que você só encontra aqui.
                    p A próxima edição do Dafiti Prime acontecerá de 10 a 16 de março:
                    .countdown-dft
                        .container
                            .container-segment
                                .segment
                                    .flip-card(data-days-hundreds)
                                        .top 0
                                        .bottom 0
                                    .flip-card(data-days-tens)
                                        .top 0
                                        .bottom 0
                                    .flip-card(data-days-ones)
                                        .top 0
                                        .bottom 0
                                p.segment-title <span>Dias</span>
                            .container-segment
                                .segment
                                    .flip-card(data-hours-tens)
                                        .top 0
                                        .bottom 0
                                    .flip-card(data-hours-ones)
                                        .top 0
                                        .bottom 0
                                p.segment-title <span>Horas</span>
                            .container-segment
                                .segment
                                    .flip-card(data-minutes-tens)
                                        .top 0
                                        .bottom 0
                                    .flip-card(data-minutes-ones)
                                        .top 0
                                        .bottom 0
                                p.segment-title <span>Minutos</span>
                            .container-segment
                                .segment
                                    .flip-card(data-seconds-tens)
                                        .top 0
                                        .bottom 0
                                    .flip-card(data-seconds-ones)
                                        .top 0
                                        .bottom 0
                                p.segment-title <span>Segundos</span>
                
            section.sec2
                .limited
                    .line
                        img(src="https://dafitistatic.dafiti.com.br/cms/onsite/2023/black-friday/2023_10_25_16_02_39_qr-code.png", alt="")
                        .boxText
                            h2 Baixe o App e Descubra as Ofertas do Dafiti Prime!
                            p Fique por dentro das promoções do Dafiti Prime! Baixe o aplicativo agora e tenha acesso antecipado às ofertas especiais durante a Semana do Consumidor. Receba notificações instantâneas sobre os melhores descontos diretamente no seu celular. Instale o app Dafiti e aproveite a praticidade e os benefícios exclusivos deste evento imperdível!
                            a(href="http://")
                                button
                                    p Baixe o app
                
            section.sec3
                .limited
                    .most_loved
                        .most_loved__section
                            .most_loved__group
                                h2 Peças em Destaque no Dafiti Prime

                                .most_loved__tabs
                                    input#tab_one(name="tab" type="radio" checked)
                                    label.tab.label_one(for="tab_one")
                                        h3 Vestidos

                                    input#tab_two(name="tab" type="radio")
                                    label.tab.label_two(for="tab_two")
                                        h3 Bolsas

                                    input#tab_three(name="tab" type="radio")
                                    label.tab.label_three(for="tab_three")
                                        h3 Sandálias

                                    input#tab_four(name="tab" type="radio")
                                    label.tab.label_four(for="tab_four")
                                        h3 Tênis

                                    input#tab_five(name="tab" type="radio")
                                    label.tab.label_five(for="tab_five")
                                        h3 Camisetas

                                    input#tab_six(name="tab" type="radio")
                                    label.tab.label_six(for="tab_six")
                                        h3 Produtos Infantis

                                    .tabs_content
                                        article.tab_content.one
                                            img(src="https://dafitistatic.dafiti.com.br/cms/onsite/2023/black-friday/2023_10_11_22_37_48_loved-vestidos.png" alt="Vestidos Black Friday Dafiti" height="196" width="196")
                                            div
                                                p Descubra os vestidos que são destaque no Dafiti Prime! Com uma variedade de modelos casuais, midi, estampados e sofisticados, você encontrará descontos especiais durante o evento, garantindo estilo e economia em suas compras.
                                                a(href="https://www.dafiti.com.br/roupas-femininas/vestidos/")
                                                    button
                                                        p Conhecer

                                        article.tab_content.two
                                            img(src="https://dafitistatic.dafiti.com.br/cms/onsite/2023/black-friday/2023_10_31_10_28_14_loved-bolsas.png" alt="Bolsas Black Friday Dafiti" height="196" width="196")
                                            div
                                                p As bolsas são essenciais e ganham destaque no Dafiti Prime. Modelos transversais, totes e clutches estarão com preços incríveis durante o evento, oferecendo praticidade e elegância para o seu dia a dia ou ocasiões especiais.
                                                a(href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/")
                                                    button
                                                        p Conhecer

                                        article.tab_content.three
                                            img(src="https://dafitistatic.dafiti.com.br/cms/onsite/2023/black-friday/2023_10_31_10_28_18_loved-sandalias.png" alt="Sandálias Black Friday Dafiti" height="196" width="196")
                                            div
                                                p Para looks casuais ou formais, as sandálias são indispensáveis e estarão com descontos especiais no Dafiti Prime. Aproveite para renovar seu estilo com opções que vão de rasteirinhas a saltos altos, sempre com conforto e elegância.
                                                a(href="https://www.dafiti.com.br/calcados-femininos/sandalias/")
                                                    button
                                                        p Conhecer

                                        article.tab_content.four
                                            img(src="https://dafitistatic.dafiti.com.br/cms/onsite/2023/black-friday/2023_10_31_10_28_20_loved-tenis.png" alt="Tênis na Black Friday Dafiti" height="196" width="196")
                                            div
                                                p Tênis das melhores marcas são sempre um sucesso no Dafiti Prime! Aproveite os preços especiais durante o evento para garantir modelos casuais, esportivos e streetwear, que combinam estilo e conforto para todas as ocasiões.
                                                a(href="https://www.dafiti.com.br/catalog/?q=tenis&wtqs=1")
                                                    button
                                                        p Conhecer

                                        article.tab_content.five
                                            img(src="https://dafitistatic.dafiti.com.br/cms/onsite/2023/black-friday/2023_10_31_10_28_16_loved-camisetas.png" alt="Camisetas na Black Friday Dafiti" height="196" width="196")
                                            div
                                                p As camisetas são peças-chave e estarão em destaque no Dafiti Prime, com descontos imperdíveis. Encontre opções básicas, oversized ou estampadas, perfeitas para compor looks versáteis e modernos no seu dia a dia.
                                                a(href="https://www.dafiti.com.br/catalog/q=camiseta&wtqs=1")
                                                    button
                                                        p Conhecer

                                        article.tab_content.six
                                            img(src="https://dafitistatic.dafiti.com.br/cms/onsite/2023/black-friday/2023_10_17_10_47_20_loved-shorts.png" alt="Black Friday Dafiti" height="196" width="196")
                                            div
                                                p As camisetas são peças-chave e estarão em destaque no Dafiti Prime, com descontos imperdíveis. Encontre opções básicas, oversized ou estampadas, perfeitas para compor looks versáteis e modernos no seu dia a dia.
                                                a(href="https://www.dafiti.com.br/infantil/")
                                                    button
                                                        p Conhecer

                                .most_loved__logos
                                    a(href="/black-friday/nike/#main_content")
                                        img(src="https://dafitistatic.dafiti.com.br/cms/svg/2023_10_17_10_56_03_logo-nike.svg" alt="Logo Nike" width="187" height="187")
                                    a(href="/black-friday/adidas/#main_content")
                                        img(src="https://dafitistatic.dafiti.com.br/cms/svg/2023_10_17_10_54_13_logo-adidas.svg" alt="Logo Adidas" width="187" height="187")
                                    a(href="/black-friday/gap/#main_content")
                                        img(src="https://dafitistatic.dafiti.com.br/cms/svg/2023_10_17_10_53_17_logo-gap.svg" alt="Logo GAP" width="187" height="187")
                                    a(href="/black-friday/mango/#main_content")
                                        img(src="https://dafitistatic.dafiti.com.br/cms/svg/2023_11_01_15_08_30_logo-mango.svg" alt="Logo Mango" width="187" height="187")
                                    a(href="/black-friday/santa-lolla/#main_content")
                                        img(src="https://dafitistatic.dafiti.com.br/cms/svg/2023_11_01_15_08_32_logo-santa-lolla.svg" alt="Logo Santa Lolla" width="187" height="187")

            section.sec4
                .limited
                    .faq
                        h2 Principais Dúvidas Sobre Dafiti Prime

                        .accordion
                            input#check_one(type="checkbox")
                            label.accordion_label(for="check_one")
                                h3 O que é o Dafiti Prime?
                            .accordion_content
                                h4 O Dafiti Prime é uma campanha promocional exclusiva da Dafiti, realizada durante a Semana do Consumidor.
                                p Este evento especial oferece a você a chance de adquirir produtos de moda e estilo de vida com ofertas imperdíveis. Além de preços atrativos, o Dafiti Prime proporciona benefícios exclusivos que tornam sua experiência de compra ainda mais vantajosa, permitindo renovar seu guarda-roupa com estilo e economia.

                        .accordion
                            input#check_two(type="checkbox")
                            label.accordion_label(for="check_two")
                                h3 Quando acontece a promoção Dafiti Prime?
                            .accordion_content
                                h4 A promoção Dafiti Prime ocorre durante a Semana do Consumidor, entre os dias 10 e 16 de março.
                                p Este período é estrategicamente escolhido para coincidir com um momento de alta demanda por ofertas, garantindo que você possa aproveitar ao máximo as vantagens oferecidas.

                        .accordion
                            input#check_three(type="checkbox")
                            label.accordion_label(for="check_three")
                                h3 Quais são os benefícios de comprar durante o Dafiti Prime?
                            .accordion_content
                                h4 Economize na Black Friday Dafiti!
                                p Durante a Semana do Consumidor, o Dafiti Prime oferece uma experiência de compra única com uma série de benefícios exclusivos. Confira abaixo os principais benefícios de comprar na Dafiti, suas descrições e os diferenciais que tornam a campanha Dafiti Prime tão especial:
                                table(border="1")
                                    tr
                                        th Benefícios Dafiti Prime
                                        th Descrição
                                        th Diferenciais Dafiti
                                    tr
                                        td
                                            h4 Frete Grátis
                                        td Disponível em uma ampla seleção de produtos durante a campanha.
                                        td Economia no custo de envio, aumentando o valor das compras.
                                    tr
                                        td
                                            h4 Entrega Rápida
                                        td Receba suas compras com agilidade, garantindo satisfação.
                                        td Maior conveniência e rapidez no recebimento dos produtos.
                                    tr
                                        td
                                            h4 Descontos Exclusivos
                                        td Ofertas que não estão disponíveis em outras épocas do ano.
                                        td Acesso a promoções únicas e vantajosas.
                                    tr
                                        td
                                            h4 Compra Segura
                                        td Tecnologia avançada para proteger seus dados durante a compra.
                                        td Confiança e segurança nas transações online.
                                    tr
                                        td
                                            h4 Rastreamento de Pedidos
                                        td Acompanhe seus pedidos em tempo real, com total transparência.
                                        td Controle e visibilidade sobre o status das compras.
                                    tr
                                        td
                                            h4 Lista de Favoritos
                                        td Salve produtos para futuras compras, facilitando o planejamento.
                                        td Facilidade e personalização na experiência de compra.

                        .accordion
                            input#check_four(type="checkbox")
                            label.accordion_label(for="check_four")
                                h3 Quais marcas estão com descontos no Dafiti Prime?
                            .accordion_content
                                p Durante o Dafiti Prime, você encontrará uma seleção de marcas renomadas que são sinônimo de qualidade e estilo, todas com descontos imperdíveis. Aproveite para renovar seu guarda-roupa com produtos de alta qualidade a preços reduzidos. Entre as marcas participantes estão:
                                ul
                                    li
                                        h4
                                            a(href="https://www.dafiti.com.br/hering/") Hering
                                    li
                                        h4
                                            a(href="https://www.dafiti.com.br/mini-melissa/") Mini Melissa
                                    li
                                        h4
                                            a(href="https://www.dafiti.com.br/aramis/") Aramis
                                    li
                                        h4
                                            a(href="https://www.dafiti.com.br/nike/") Nike
                                    li
                                        h4
                                            a(href="https://www.dafiti.com.br/democrata/") Democrata
                                    li
                                        h4
                                            a(href="https://www.dafiti.com.br/elian/") Elian
                                    li
                                        h4
                                            a(href="https://www.dafiti.com.br/farm/") FARM
                                    li
                                        h4
                                            a(href="https://www.dafiti.com.br/reserva/") Reserva
                                    li
                                        h4
                                            a(href="https://www.dafiti.com.br/adidas/") Adidas
                                    li
                                        h4
                                            a(href="https://www.dafiti.com.br/sawary/") Sawary
                                    li
                                        h4
                                            a(href="https://www.dafiti.com.br/gap/") GAP
                                p Essas marcas oferecem uma variedade de produtos que atendem a diferentes gostos e necessidades, garantindo que você encontre exatamente o que procura, tudo com descontos que tornam a compra ainda mais vantajosa.

                        .accordion
                            input#check_five(type="checkbox")
                            label.accordion_label(for="check_five")
                                h3 Quais tipos de produtos posso encontrar em promoção no Dafiti Prime?
                            .accordion_content
                                p Durante a promoção Dafiti Prime, você encontrará uma ampla variedade de produtos em promoção, permitindo montar looks completos com estilo e economia. Abaixo está uma lista das principais categorias de produtos disponíveis:
                                ul
                                    li
                                        h4 Roupas Femininas e Masculinas
                                        | Incluindo 
                                        a(href="https://www.dafiti.com.br/roupas-femininas/vestidos/") vestidos
                                        | , 
                                        a(href="https://www.dafiti.com.br/catalog/?q=camiseta&wtqs=1") camisetas
                                        | , 
                                        a(href="https://www.dafiti.com.br/catalog/?q=regata&wtqs=1") regatas
                                        | , 
                                        a(href="https://www.dafiti.com.br/catalog/?q=jeans&wtqs=1") jeans
                                        | , 
                                        a(href="https://www.dafiti.com.br/catalog/?q=moletom&wtqs=1") moletons
                                        | , 
                                        a(href="https://www.dafiti.com.br/roupas-masculinas/bermudas/") bermudas
                                        |  e mais.
                                    li
                                        h4 Sapatos
                                        a(href="https://www.dafiti.com.br/promocao/geral-tenis/") Tênis femininos
                                        |  e 
                                        a(href="https://www.dafiti.com.br/calcados-masculinos/tenis/") masculinos
                                        | , 
                                        a(href="https://www.dafiti.com.br/calcados-femininos/sandalias/") sandálias
                                        | , 
                                        a(href="https://www.dafiti.com.br/calcados-femininos/scarpins/") scarpins
                                        | , 
                                        a(href="https://www.dafiti.com.br/calcados-femininos/sapatilhas/") sapatilhas
                                        |  e 
                                        a(href="https://www.dafiti.com.br/catalog/?q=chinelo&wtqs=1") chinelos
                                        | .
                                    li
                                        h4 Bolsas e Acessórios
                                        | Diversas opções de 
                                        a(href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/") bolsas e acessórios
                                        |  para complementar qualquer look.
                                    li
                                        h4 Produtos Infantis
                                        a(href="https://www.dafiti.com.br/roupas-infantis/") Roupas
                                        |  e 
                                        a(href="https://www.dafiti.com.br/calcados-infantis/") sapatos para crianças
                                        | , incluindo kits infantis, que oferecem conforto e estilo para os pequenos.
                                    li
                                        h4 Marcas Renomadas
                                        | Produtos de diversas 
                                        a(href="https://www.dafiti.com.br/marcas-moda/") marcas conhecidas
                                        | , oferecendo qualidade e estilo em uma ampla gama de categorias.
                                p A Dafiti oferecem uma seleção de produtos que atendem a diferentes gostos e necessidades, garantindo que você encontre exatamente o que procura durante o Dafiti Prime. Aproveite esta oportunidade para renovar seu guarda-roupa com peças de qualidade a preços reduzidos!

                        .accordion
                            input#check_six(type="checkbox")
                            label.accordion_label(for="check_six")
                                h3 Quais produtos femininos eu encontro na Black Friday Dafiti?
                            .accordion_content
                                h4 O frete grátis é um dos principais benefícios do Dafiti Prime.
                                p Ele está disponível em milhares de produtos selecionados, oferecendo uma excelente oportunidade para economizar nas suas compras. Siga os passos abaixo para aproveitar essa vantagem:
                                ol
                                    li
                                        a(href="https://www.dafiti.com.br/perguntas-frequentes/#tipos-de-frete") Verifique as condições
                                        |  da promoção para entender quais produtos estão incluídos no frete grátis.
                                    li Escolha os itens participantes da promoção que deseja adquirir.
                                    li Finalize sua compra dentro do período da campanha para garantir o frete grátis.

                        .accordion
                            input#check_seven(type="checkbox")
                            label.accordion_label(for="check_seven")
                                h3 O Dafiti Prime oferece opções de pagamento flexíveis?
                            .accordion_content
                                h4 O Dafiti Prime oferece diversas opções de pagamento para facilitar suas compras.
                                p A Dafiti fornece 
                                    a(href="https://www.dafiti.com.br/perguntas-frequentes/#pagamentos") flexibilidade e conveniência
                                    |  na hora de finalizar seus pedidos. Abaixo, você encontrará uma tabela detalhando as opções disponíveis, suas descrições e os benefícios associados a cada método de pagamento:
                                table(border="1")
                                    thead
                                        tr
                                            th Opções de Pagamento
                                            th Descrição
                                            th Benefício
                                    tbody
                                        tr
                                            td
                                                h5 Cartão de Crédito
                                            td Permite parcelar suas compras de forma prática.
                                            td Flexibilidade no pagamento.
                                        tr
                                            td
                                                h5 Boleto Bancário
                                            td Pagamento à vista com prazo para quitação.
                                            td Facilidade e controle financeiro.
                                        tr
                                            td
                                                h5 Pix
                                            td Pagamento instantâneo e seguro.
                                            td Rapidez e conveniência.

                        .accordion
                            input#check_eight(type="checkbox")
                            label.accordion_label(for="check_eight")
                                h3 Como posso me preparar para o Dafiti Prime e não perder nenhuma oferta?
                            .accordion_content
                                h4 Para garantir que você não perca nenhuma oferta do Dafiti Prime, baixe o app Dafiti.
                                p Com o aplicativo da Dafiti, você receberá notificações em tempo real sobre promoções e novidades. Além disso, o app oferece filtros avançados que ajudam a encontrar rapidamente os produtos desejados, tornando sua experiência de compra mais eficiente e agradável.
        
            section.sec5
                .limited
                    .most_searched
                        .most_searched__content
                            h2 Encontre o Que Você Procura no Dafiti Prime
                            .most_searched__itens
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/hering/") Hering
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/nike/") Nike
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/farm/") FARM
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/adidas/") Adidas
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/sawary/") Sawary
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/aramis/") Aramis
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/democrata/") Democrata
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/reserva/") Reserva
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/gap/") GAP
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/mini-melissa/") Mini Melissa
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/elian/") Elian
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/coloritta/") Colorittá
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/santa-lolla/") Santa Lolla
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/colcci/") Colcci
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/") Bolsa
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/promocao/geral-tenis/") Tênis Feminino
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/vizzano/") Vizzano
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/calcados-femininos/sandalias/") Sandália
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/calcados-femininos/scarpins/") Scarpin
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/catalog/?q=jeans&wtqs=1") Jeans
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/catalog/?q=moletom&wtqs=1") Moletom
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/lanca-perfume/") Lança Perfume
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/roupas-femininas/vestidos/") Vestido
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/catalog/?q=camiseta&wtqs=1") Camiseta
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/catalog/?q=regata&wtqs=1") Regata
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/calcados-masculinos/tenis/") Tênis Masculino
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/roupas-masculinas/bermudas/") Bermuda
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/osklen/") Osklen
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/catalog/?q=chinelo&wtqs=1") Chinelo
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/aeropostale/") Aeropostale
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/dudalina/") Dudalina
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/asics/") Asics
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/oakley/") Oakley
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/roupas-infantis/?q=kit") Kit Infantil
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/levis/") Levi's
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/brandili/") Brandili
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/kyly/") Kyly
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/converse/") Converse
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/new-balance/") New Balance
                                h3.most_searched__tag
                                    a(href="https://www.dafiti.com.br/calcados-femininos/sapatilhas/") Sapatilha

    //- script(src="external/scripts.js")
    script(src="js/script.js")